<md-dialog aria-label="Import Savegame" flex="80%">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Import savegame</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-input-container>
      <label>Paste your save game here</label>
      <textarea ng-model="inputData" width="100%" rows=20></textarea>
    </md-input-container>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="close()">
     Cancel
    </md-button>
  </div>
  </form>
</md-dialog>
